* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 245, 245);
}

.mainHeaderBanner {
  padding: 4%;
}

.navList {
  padding: 2%;
  color: rgb(78, 78, 78);
}

.navList a {
  text-decoration: none;
  /*    font-family: Arial, Helvetica, sans-serif;*/
  color: rgb(78, 78, 78);
}

h1 {
  color: rgb(78, 78, 78);
}

.mainPhoto {
  padding-bottom: 3%;
}

.footer {
  padding: 2%;
}
