*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Almarai", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: rgb(73, 73, 73);
}

body {
  background-color: rgb(250, 250, 250);
}

.row {
  margin-bottom: 16vh;
}

.mainHeaderBanner {
  padding-top: 4%;
}

.navList {
  padding: 2%;
  color: rgb(112, 111, 111);
  font-family: "Cagliostro", Arial, Helvetica, sans-serif;
}

.navList a {
  text-decoration: none;
  color: rgb(112, 111, 111);
  font-family: "Cagliostro", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(22, 0, 58);
}

h1 {
  color: rgb(112, 111, 111);
  font-family: "Cagliostro", Arial, Helvetica, sans-serif;
  font-size: 5vh;
}

h2 {
  color: rgb(112, 111, 111);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vh;
  padding: 1vh;
}

h3 {
  color: rgb(112, 111, 111);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vh;
  padding-bottom: 1vh;
}

/*h4 is the same as h3 to sort out that problem with the mobile headers flex 
thingameejigwhatsit.... which is fixed from the second bootcamp blog */
h4 {
  color: rgb(112, 111, 111);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vh;
}

.headerPadding {
  padding-right: 5%;
}

#photoFade {
  display: none;
}

#blogFade {
  display: none;
}

.mainPhoto {
  padding-bottom: 3%;
}

/* ####### experimenting with bootsrap grid with the below boxes #####*/
.box1 {
  background-color: rgb(219, 224, 231);
  height: auto;
  padding: 5%;
  display: flex;

  align-items: center;
  justify-content: center;
}

.box2 {
  background-color: rgb(235, 223, 205);
  height: auto;
  padding: 5%;
  display: flex;

  align-items: center;
  justify-content: center;
}
.box3 {
  background-color: rgb(182, 217, 223);
  height: auto;
  padding: 5%;
  display: flex;

  align-items: center;
  justify-content: center;
}

.galleryContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  justify-content: center;
  background-color: rgb(250, 250, 250);
}

.galleryBox {
  background-color: rgb(250, 250, 250);
  padding: 2vh;
  margin: 1vh;
  flex-shrink: 1;
}

.inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.footer {
  padding: 2%;
}

.mobileHeader {
  display: none;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media only screen and (max-width: 600px) {
  .box1 {
    height: auto;
  }
}
@media only screen and (max-width: 600px) {
  .box2 {
    height: auto;
  }
}
@media only screen and (max-width: 600px) {
  .box3 {
    height: auto;
  }
}
/*
@media only screen and (max-width: 600px) {
  h3 {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .mobileHeader {
    display: flex;
    text-decoration: solid;
    color: rgb(34, 34, 34);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
  }
}
